<nz-layout>
    <!--<nz-header style="background: #fff; padding:0;">-->
    <!--</nz-header>-->
    <nz-content style="margin:0 16px;">
        <nz-breadcrumb style="margin:16px 0;">
            <nz-breadcrumb-item>我的聊天室</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="bg">
            <div class="chat d-flex">
                <div class="panel">

                </div>
                <div class="chat-area">

                </div>
            </div>
        </div>
    </nz-content>
    <nz-footer style="text-align: center;"></nz-footer>
</nz-layout>
