<nz-layout>
    <nz-header style="background: #fff; padding:0;">
    </nz-header>
    <nz-content style="margin:0 16px;">
        <nz-breadcrumb style="margin:16px 0;">
            <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div style="padding:24px; background: #fff; min-height: 360px;">
            <nz-select [(ngModel)]="selectedValue"
                       name="type"
                       style="width: 250px;"
                       [nzPlaceHolder]="'诊断类型'"
                       [nzFilterOption]="filterOption"
                       [nzShowSearch]="true"
                       [nzServerSearch]="true"
                       [nzAllowClear]="false">
                <nz-option
                    *ngFor="let type of searchResult"
                    [nzLabel]="type.name"
                    [nzValue]="type">
                </nz-option>
            </nz-select>
        </div>
    </nz-content>
    <nz-footer style="text-align: center;"></nz-footer>
</nz-layout>
