<nz-layout>
    <nz-header style="background: #fff; padding:0;">
    </nz-header>
    <nz-content style="margin:0 16px;">
        <nz-breadcrumb style="margin:16px 0;">
            <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div style="padding:24px; background: #fff; min-height: 360px;">
            <h3>websocket连接</h3>

        </div>
    </nz-content>
    <nz-footer style="text-align: center;"></nz-footer>
</nz-layout>
