<nz-layout class="home-nzLayout">

    <!-- 左侧组件树 -->
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
        <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu *ngFor="let item of menuData" [(nzOpen)]="item.isOpen" (nzOpenChange)="openChange(item.id)">
                <span title><i [class]="item.icon"></i><span class="nav-text">{{item.name}}</span></span>
                <ul *ngIf="item.children && item.children.length">
                    <li nz-menu-item *ngFor="let child of item.children" [(nzSelected)]="child.selected"
                        routerLink="{{item.link}}/{{child.link}}">{{child.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>

    <!-- 右侧页面 -->
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed"
               [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        </nz-header>
        <router-outlet></router-outlet>
    </nz-layout>
</nz-layout>

<ng-template #trigger>
    <i class="anticon anticon-up"></i>
</ng-template>

